@model ProjectFish.Models.Fish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WikiLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WikiLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
