@model IEnumerable<ProjectFish.Models.Reel>

@{
    ViewData["Title"] = "Index";
}

<h1>Reels</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Line)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.ReelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReelId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
