@model ProjectFish.Models.CompPlace

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompPlace</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Composition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Composition.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place.Name) :
            @Html.DisplayFor(model => model.Place.Coordinates)
        </dd>
        <dd class="col-sm-12">
            @Html.Partial("_GoogleMap", Model.Place)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompPlaceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
